.sociallogin_helpbox {

    background-color: #EAF7FF;

    border: 1px solid #E6DB55;

    border-radius: 3px 3px 3px 3px;

    padding: 10px;

	

}

.sociallogin_helpboxaside {

    

    position: relative;

    
 }

 .sociallogin_supportbox {

   background-color: #EDEFF4;

   border: 1px solid #6B84B4;

   border-radius: 3px 3px 3px 3px;

   padding: 10px;

   margin-top:10px;

   font-size:12px !important;

}

.sociallogin_supportboxaside {

    

    position: relative;


 }

 .sociallogin_upgradebox {

   background-color: #EAFFDC;

   border: 1px solid #60CF4E;

   border-radius: 3px 3px 3px 3px;

   padding: 10px;

   margin-top:10px;

   font-size:12px !important;

}

.sociallogin_upgradeboxaside {

    position: relative;


 }

 

  .sociallogin_morehelpbox {

   background-color: #FFFFE0;

   border: 1px solid #E6DB55;

   border-radius: 3px 3px 3px 3px;

   padding: 10px;

   margin-top:10px;

   font-size:12px !important;

}

.sociallogin_morehelpboxaside {

    position: relative;

  

 }

 

 

.sociallogin_form {



 padding: 0;

 background-color: #fff;

}



.sociallogin_form a {

 text-decoration: none !important;

}



.sociallogin_form .blank a {

 text-decoration: none !important;

 padding: 0 15px !important;

 font-weight: bold;

}



.sociallogin_form a:hover {

 text-decoration: none !important;;

}



.sociallogin_form legend {

 margin-left: 10px;

 line-height: 30px;

}



.sociallogin_form .row {

 padding: 5px 10px;

 font-size: 12px;

 clear: both;

 overflow: hidden;

}







.sociallogin_form .row_title {

 font-size: 14px;

 font-weight: bold;

 margin-top: 15px;

 color:#00ccff;

}



.sociallogin_form .row_button {

 background-color: #F6F6F6;

 border-top: 1px dotted #ddd;

 margin-top: 14px;

 padding: 5px 10px;

}



.sociallogin_form .row_description {

 padding: 5px 0 10px 10px;

 font-weight: bold;

 color:#00ccff;

}





.sociallogin_form_main {

 background-color: #EAF7FF;

}



.sociallogin_form_main .row {

 margin-bottom: 7px;

}



.sociallogin_form_main .row_button {

 padding-bottom: 0 !important;

 background-color: #EAF7FF;

}

.icon-48-configuration {

    background-image: url("../img/configuration.gif");

}







.sociallogin_table {

 background-color: #efefef ;

 border: 1px solid #ccc ;

 margin-bottom: 10px ;

 border-collapse: collapse;

 font-family: sans-serif;

 font-size: 12px;

 line-height: 1.4em;

 margin-left: 2px;
 width: 100%;

}



.sociallogin_table input {

 border-color: #aaa ;

}



.sociallogin_table .head {

 font-weight: bold ;

 font-size: 13px ;

 font-weight: bold ;

 background-color: #ddd ;

}

.sociallogin_table th, .sociallogin_table label {

    color: #222222;

    text-shadow: 0 1px 0 #FFFFFF;

}

.sociallogin_table th {

    padding: 10px;

    text-align: left;

    vertical-align: top;

    width: 200px;

}

.sociallogin_table th, .sociallogin_table label {

    font-weight: normal;

    text-shadow: 0 1px 0 #FFFFFF;

}





.sociallogin_table td {

    font-size: 12px;

    line-height: 20px;

    margin-bottom: 9px;

    padding: 8px 10px;

}

.sociallogin_table td, textarea {

    line-height: inherit;

}

.sociallogin_table td, textarea, input, select {

    font-family: inherit;

    font-size: inherit;

    font-weight: inherit;

}





.sociallogin_table tr td.row {

 line-height: 36px ;

}



.sociallogin_table tr.description td {

 color: #0D5995 ;

}



.sociallogin_table .row_white {

 background-color: #fff ;

}

.sociallogin_table th, .sociallogin_table label {

    color: #222222;

    text-shadow: 0 1px 0 #FFFFFF;

}

.sociallogin_table th {

    padding: 10px;

    text-align: left;

    vertical-align: top;

    width: 200px;

}

.sociallogin_table th, .sociallogin_table label {

    font-weight: normal;

    text-shadow: 0 1px 0 #FFFFFF;

}

.sociallogin_helpbox ul {

 list-style-type: none;

 padding-left: 20px;

 font-size:12px !important;

 color:#000000 !important;

 }

.sociallogin_helpbox {

border-color: #CCCCCC;

}

.sociallogin_helpbox a {

 color:#000000 !important;

 text-decoration:none;

}



.sociallogin_helpbox a:hover {

 color: #00ccff !important;

}