/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }

body                            { padding:0; margin:0; font:14px Tahoma, sans-serif; background:url(../images/background_wood.jpg); color:#737373; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
    color:#7A7B7B;
} 
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; max-height:150px; max-height:500px; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px Tahoma, sans-serif; color:#737373; text-decoration:none; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width:980px;
    margin:0 auto;
	position:relative;
	z-index:100;
}

.bg_blue {
    background: url("../images/background_blue.jpg") repeat scroll 0 0 transparent;
    bottom: 284px;
    height: 608px;
    position: absolute;
    top: 277px;
    width: 100%;
}

.bg_cloud {
    background:url(../images/background_cloud.jpg) no-repeat 43% 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 277px;
   	z-index:50;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header { 
	height:97px; 
	padding:25px 20px 30px 20px;}
	
.header a img { 
	text-indent:-1000em; }
	
.header img { 
	width:136px; 
	height:96px;}
	
/*-------------------------------------NAV------------------------------------------*/

.navbar {
    position:relative;
    margin-bottom:30px;
    z-index:100;}
	
.navbar ul {
    height:35px;
    background:url(../images/nav_backgroun.gif); 
	padding:1px;
    margin: 0 auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;}

.navbar ul li {
    float:left;
    position:relative;}
	
.navbar ul li a {
    width: 98px;
    padding:8px 10px;
    display:block;
    margin-right:1px;
    color:#FFF;
    text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-transform:uppercase;}
	
.navbar ul li a.game {
	 width:124px;
}
	 
.navbar ul li a.active {
	background:url(../images/nav_button_backgroun_hover.png) 0 100%;
}
.navbar ul li a:hover {
    background: url(../images/nav_button_backgroun_hover.png) 0 0 repeat-x;
}

.navbar ul li ul { 
	display:none;
	margin-left:-6px;
	border:none;
	padding:0;}	
	
.navbar ul li ul li{
	background:url(../images/nav_backgroun.gif) 100% 100%;}
	
.navbar ul li ul a {
    width: 109px;}	

	
.navbar li ul { 
	position:absolute;}
	
.navbar li:hover ul {
	display:block;}
li.item107, li.item111  { 
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-bottom:2px;}

/*-------------------------------------CONTENT--------------------------------------*/

.content {
	background:#FFF;
    width:730px;
    float:left;
    margin:0 20px 0 0;
    -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	box-shadow: 1px 1px 1px #CCCCCC;
	min-height: 880px;
}
.content h3 {
	background:url(../images/background_h3.png) repeat-y;
	font:24px "Trebuchet MS"; 
	color:#FFF; 
	font-weight:bold; 
	padding:16px 25px;}
	
.content .item-page {
    width:730px;
    height:250px;
    background-color:#F5FAF1;
    margin-bottom:10px;
}

.content .post {
    width:730px;
    height:250px;
    background-color:#0F9;
    margin-bottom:10px;
	padding:30px 30px 40px 30px;
}


/*.post h3 {
	font:24px "Trebuchet MS"; 
	color:#5D99AD;
	margin-bottom:25px;}
		 
.post img { 
	 
	margin-right:20px;
	overflow:hidden;}
	
.post p {
	font:14px Tahoma, Geneva, sans-serif; 
	color:#737373;
	padding-right:12px;
	width:439px;
	max-height:102px;
	}
	
.post div a {
	font:14px Tahoma, Geneva, sans-serif; 
	color:#5D99AD;
	padding-right:11px;
	background:url(../images/background_a_post.gif) no-repeat right center;
	float:right;
	margin-right:365px; }

.post a:hover { text-decoration:underline;}
	*/
/*- -------------------------------About-------------------------------------*/

#content .contacts span.contacts {
    font-family: "Trebuchet MS";
    font-weight:normal;
    font-size:40px;

}

#content .contacts div.map {
    height:100px;
    float:left;
    padding:17px 17px 17px 16px;
}

#content .contacts p.contacts{
    overflow:hidden;
    padding:0 0 0 5px;
    float:inherit;
    font-size:16px;
}



/*-------------------------------------SIDEBAR--------------------------------------

----------------------------------------------------------------------------------*/

.sidebar {
    float:right;
    width:230px;
    height:250px;
	margin-top:130px;
}
.sidebar .calendar {
    background-color:#FFF;
    margin-bottom:10px;
	width:230px;
	height:208px;
	 -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color:#737373;
	
	
}

.sidebar .voting {
    background-color:#FFF;
    margin-bottom:10px;
	width:190px;
	height:208px;
	 -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color:#737373;
	height:270px;
	margin-bottom:40px;
	padding:20px;
}


.sidebar .voting h4 { color:#5D99AD; font:18px Tahoma, Geneva, sans-serif; line-height:1em; margin-bottom:25px;}
.sidebar .voting label { color:#737373; margin-bottom:13px;}
/*****************************Partners**************************************************/

.partners h3{
    text-transform: uppercase;
    color: #5D9AAE;
    font-family: 'Arial';
    font-size: 22px;
}
.partners li{
    float:left;
    width: 76px;
}

.partners ul li a{
    overflow:hidden;
    height: 67px;
}


a.svai {
    background: url(../../../images/svai_grayscale.png) no-repeat;
    display: block;
    weight:75px;
}
a.svai:hover {
    background: url(../../../images/svai_color.png) no-repeat;

}
a.geekhub {
    background: url(../../../images/geekhub_grayscale.png) no-repeat;
    display: block;

}
a.geekhub:hover {
    background: url(../../../images/geekhub_color.png) no-repeat;

}
a.edu {
    background: url(../../../images/edu_helsinki_grayscale.png) no-repeat;
    display: block;

}
a.edu:hover {
    background: url(../../../images/edu_helsinki_color.png) no-repeat;
}
a.la-strada {
    background: url(../../../images/la-strada_grayscale.png) no-repeat;
    display: block;
}
a.la-strada:hover {
    background: url(../../../images/la-strada_color.png) no-repeat;
}

a.prava {
    background: url(../../../images/prava_cheloveka_grayscale.png) no-repeat;
    display: block;

}
a.prava:hover {
    background: url(../../../images/prava_cheloveka_color.png) no-repeat;
}

a.rodis {
    background: url(../../../images/rodis_grayscale.png) no-repeat;
    display: block;

}
a.rodis:hover {
    background: url(../../../images/rodis_color.png) no-repeat;
}

a.oipopp {
    background: url(../../../images/oipopp_grayscale.png) no-repeat;
    display: block;

}
a.oipopp:hover {
    background: url(../../../images/oipopp_color.png) no-repeat;
}

/*-------------------------------------FOOTER---------------------------------------*/



.footer {
    clear:both;
    height:70px;

}



/*right social buttons-****************************************************************************************/
.buttons{
    width: 30px;
    height: 273px;
    position: fixed;
    top: 260px;
    right: 0;
    z-index: 10;
    overflow: visible;
}
.buttons .fly-button{
    width: 123px;
    height: 29px;
    display: block;
    position: absolute;
    transition: margin .8s;
    -moz-transition: margin .8s;
    -webkit-transition: margin .8s;
    -o-transition: margin .8s;
}
.buttons .fly-button:hover{
    margin-left: -93px;
}


.buttons .fly-button#twitter-button{
    top: 36px;
    background:url(../images/twitter-button.png);
}
.buttons .fly-button#vkontakte-button{
    top: 72px;
    background:url(../images/vkontakte-button.png);
}
.buttons .fly-button#youtube-button{
    top: 144px;
    background:url(../images/youtube.png);
}
.buttons .fly-button#odnoklassniki-button{
    top: 108px;
    background:url(../images/odnoklassniki-button.png);
}

.buttons .fly-button#facebook-button {
    top: 0;
    background:url(../images/facebook-button.png);
}



/**********************************************************************************************************************/


/**************************************************************/
/********************* PAGINATION CLASSES *********************/
/**************************************************************/
.pagination{
    margin: 31px 0 38px 0;
    text-align: center;
    overflow: hidden;
}
.pagination ul{
    margin: 0 auto;
}
.pagination li{
    display: inline-block;
}
.pagination a,
.pagination span{
    float: left;
    width: 17px;
    height: 17px;
    margin: 0 8px 0 0;
}
.pagination span{
    color: #5D9AAE;
    font-family: 'Arial';
    font-weight: bold;
}



/************************************************************************/
/************************** HOMEPAGE CLASSES ****************************/
/************************************************************************/
.blog-featured h1{
    padding: 10px 0 0 31px;
    height: 40px;
    color: #FFFFFF;
    font: bold 24px 'Arial';
    text-transform: uppercase;
    background: url("../images/homepage_title.png") 0 0 no-repeat;
}
.items-row{
    padding: 30px 30px 0 30px;
    overflow: hidden;
    background: url("../images/homepage_article_bg.jpg") 0 100% repeat-x;
}
.items-row .item{
    overflow: hidden;
}
.item h2{
    margin: 0 0 25px 0;
}
.item h2 a{
    color: #5D9AAE;
    font-size: 20px;
    font-family: 'Arial';
}
.blog-featured .item p img{
    margin: 5px 20px 20px 0;
}
.readmore{
    overflow: hidden;
    margin: 22px 0 0 0;
}
.readmore a{
    float: left;
    color: #5D9AAE;
    text-decoration: underline;
}
.readmore a:hover{
    text-decoration: none;
}
.readmore .published{
    float: right;
}

/***************************************************/
/***************** JEvents classes *****************/
/***************************************************/
.jeventpage{
    padding: 31px;
}
.jeventpage .contentheading{
    margin: 0 0 15px 0;
}
.jeventpage .contentpaneopen td p img{
    padding: 15px;
}

/****************************************************/
/*************** CONTACT FORM CLASSES ***************/
/****************************************************/
.contact{
    padding: 31px;
}
.contact-form{
    margin: 15px 0;
}
label.invalid,
label.invalid span{
    color: red;
}
input.invalid,
textarea.invalid{
    border: 1px red solid;
    color: red;
}