<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Experimental Creative Center</title>
<link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>

<body>
<div class="wrapper">
	<div class="header">
    		<a href="index.html" title="Experimental Creative Center"><img src="images/logo.png" width="225" height="156" alt="Experimental Creative Center" /></a>
           <ul class="social">
        	<li><a class="fb" href="#" title="Facebook">Facebook</a></li>
            <li><a class="vk" href="#" title="Vkontakte">Vkontakte</a></li>
            <li><a class="tw" href="#" title="Twitter">Twitter</a></li>
            <li><a class="yt" href="#" title="YouTube">Youtube</a></li>
            <li><a class="vm" href="#" title="Vimeo">Vimeo</a></li>
        </ul>
    </div>
   <!--navigation-->
    <div class="navbar">
    	<ul class="nav">
        	<li><a href="#">Головна</a></li>
            <li><a href="activity.html">Діяльність</a>
                   <ul>
                      <li><a href="#">Cтудія танцю</a></li>
                      <li><a href="#">Cтудія вокалу</a></li>
                      <li><a href="#">Cтудія дизайну</a></li>
                      <li><a href="#">Cтудія акторськой гри</a></li>
                   </ul>
            </li>
            <li><a class="ikc" href="#">ІКЦ</a>
                  <ul>
                      <li><a href="#">Консультації</a></li>
                      <li><a href="#">Тренінги</a></li>
                      <li><a href="#">Школа з прав людини</a></li>
                  </ul>
            </li>
            <li><a href="#">Клуб "серйозна гра"</a></li>
            <li><a href="#">Майстер-класи</a></li>
            <li><a href="#">Проекти</a></li>
            <li><a href="#">Конкурсі і фестивалі</a></li>
            <li><a href="#">Форум</a></li>
            <li><a href="#" class="about">Про нас </a></li>
       </ul>
    </div>
    <!--conteiner-->
    <div class="conteiner">
    	<div class="content">
        	<div class="post post-1"></div>
            <div class="post post-2"></div>
            <div class="post post-3"></div>
        </div>
        <div class="sidebar">
        	<div class="widjet calendar"></div>
            <div class="widjet partners"></div>
            <div class="widjet voting"></div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
    	<p>Експерементальний творчи центр</p>
    </div>
</div>
</body>
</html>
